@charset "utf-8";
/* CSS Document */
	h1{
		font-size:16px;
	}
	p{
		color:#F69;
	}
	h1 
	{
		color:#0F0;
	}
	#header {
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
	  padding: 5px;
	  background-color: #cae8ca;
	  border: 2px solid #4CAF50;
	}
	#footer {
		position:fixed;
		width:100%;
		left:0;
		bottom:-1px;
		background-color: #cae8ca;
		text-align:center;
	}
	#content {
		position:relative;
	}
	#backgroup{
		position:absolute;
		left:0px;
		top:0px;
		z-index:-1;
	}
table, td, th
{
	border:1px solid green;
}
th
{
	background-color:green;
	color:white;
}